fieldset,
legend,
button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: none;
	border: none;
	border-radius: 0;
	margin: 0;
	outline: none;
	padding: 0;
}

input[type="date"],
input[type="datetime-local"],
input[type="month"],
input[type="time"] {
	border: 1px solid #ccc;
	margin: 0;
	outline: none;
	padding: 4px;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="url"],
input[type="search"],
input[type="number"],
input[type="datetime"],
input[type="week"],
textarea,
select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: none;
	border: 1px solid #333;
	border-radius: 0;
	margin-left: 0;
	margin-right: 0;
	outline: none;
	padding: 4px;
}

textarea {
	height: 100px;
	overflow: auto;
	width: 100%;
}

select {
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAALJJREFUeNrslssNgCAQRCmB0ijBEuyEEijBEijBEizBEnAPy0UBWVj8JDvJJB5w3gsXVUoikXwsBrpAPdRCNcOmxi2P2yZ3cIKGU9dOCY0b590pdXhPHOyRyMEDsi4JhVIlSvBYTRGgSNTAQ+pFyyBRC7e5AdchUQt3d1fYIsEGb5Fgh1MktlFwisQwOIeE4/pGuDfhLRLscIrEMHiNxHB4SeIxeMyMPxkenyUSyT9zCDAAj5btZ4c3zaUAAAAASUVORK5CYII=");
	background-position: right 8px center;
	background-repeat: no-repeat;
	background-size: 12px 12px;
	padding-right: 30px;
}

.select {
	background: #fff;
	display: inline-block;
	overflow: hidden;
	position: relative;
}

.select select {
	background: none;
	border: 1px solid #333;
	cursor: pointer;
	padding-right: 24px;
	text-overflow: "";
	width: 100%;
}

.select::before {
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid #666;
	content: "";
	height: 0;
	padding: 0;
	pointer-events: none;
	position: absolute;
	right: 8px;
	top: 13px;
	width: 0;
}

/* radio & checkbox */

input[type="radio"],
input[type="checkbox"] {
	display: none;
}

input[type="radio"] + span,
input[type="checkbox"] + span {
	color: #1B224C;
	cursor: pointer;
	display: inline-block;
	position: relative;
}

input[type="radio"] + span::before,
input[type="checkbox"] + span::before {
	background: #fff;
	border: 1px solid #333;
	content: "";
	height: 16px;
	position: absolute;
	width: 16px;
}

/* fieldset */

fieldset {
	border: 1px solid #ccc;
	padding: 8px 16px;
}

legend {
	padding: 0 8px;
}

/* button */

input[type="submit"],
input[type="reset"],
input[type="button"],
button {
	-webkit-box-sizing: content-box;
	-webkit-appearance: button;
	-moz-appearance: button;
	appearance: button;
	border-radius: 0;
	cursor: pointer;
	display: inline-block;
	margin: 0;
}

/* ブラウザ対策
---------------------------------------------------------------------------- */

/* Firefox */

/* IE */

select::-ms-expand {
	display: none;
}

/* webkit */

/* iOS */

input[type="submit"]::-webkit-search-decoration,
input[type=reset]::-webkit-search-decoration,
input[type="button"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-decoration {
	display: none;
}

::-webkit-search-cancel-button {
	-webkit-appearance: none;
}

input[type="search"]::-webkit-search-decoration {
	-moz-appearance: none;
	-webkit-appearance: textfield;
	-webkit-box-sizing: border-box;
	-webkit-appearance: none;
	appearance: none;
	background: none;
	border: 0;
	border-radius: 0;
	font-size: 16px;
	margin: 0;
	outline: none;
	padding: 0;
}

/* 挙動
---------------------------------------------------------------------------- */

/* hover */

input:hover,
textarea:hover,
select:hover {
	border-color: #666;
}

input[type="radio"] + span:hover,
input[type="checkbox"] + span:hover {
	color: #000;
}

input[type="radio"] + span:hover::before,
input[type="checkbox"] + span:hover::before {
	border-color: #000;
}

input[type="radio"] + span:hover::after {
	background: #333;
	content: "";
	height: 8px;
	left: 4px;
	position: absolute;
	top: 50%;
	width: 8px;
}

/* focus */

input:focus,
textarea:focus {
	border-color: #3498db;
}

input[type="submit"]:focus,
input[type=reset]:focus,
input[type="button"]:focus,
input[type="search"]:focus {
	outline-offset: -2px;
}

/* disabled */

input:disabled,
input:disabled:hover,
textarea:disabled,
textarea:disabled:hover {
	background: #eee;
	border-color: #ccc;
	cursor: not-allowed;
}

input[type="radio"]:disabled + span,
input[type="checkbox"]:disabled + span {
	color: #ccc;
	cursor: not-allowed;
}

input[type="radio"]:disabled + span::before,
input[type="checkbox"]:disabled + span::before {
	border-color: #ccc;
	cursor: not-allowed;
}

/* バリデーション */

/* placeholder */

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* リキッドレイアウト対応 */

html {
	font-size: 4.26667vw;
}

html,
body {
	margin: 0;
	padding: 0;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: #fff;
	color: #1B224C;
	font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
	font-size: 16px;
	font-weight: 500;
	line-height: 1.6;
	min-height: 100vh;
	min-height: -webkit-fill-available;
	overflow-wrap: break-word;
	position: relative;
	z-index: -9999;
}

/* Box sizing rules */

*,
*::before,
*::after {
	box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
span,
em,
small,
strong,
sub,
sup,
mark,
del,
ins,
strike,
abbr,
dfn,
blockquote,
q,
cite,
code,
pre,
ol,
ul,
li,
dl,
dt,
dd,
div,
section,
article,
main,
aside,
nav,
header,
hgroup,
footer,
img,
figure,
figcaption,
address,
time,
audio,
video,
canvas,
iframe,
details,
summary,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
	border: 0;
	margin: 0;
	padding: 0;
}

a {
	color: inherit;
	cursor: pointer;
	text-decoration: none;
}

img {
	border: none;
	height: auto;
	max-width: 100%;
	vertical-align: top;
}

video,
iframe,
object {
	border: none;
	height: auto;
	max-width: 100%;
}

ul,
ol {
	list-style: none;
}

table {
	border: 1px solid;
	border-collapse: collapse;
	border-spacing: 0;
	table-layout: fixed;
	width: 100%;
}

th,
td {
	border: 1px solid;
	padding: 4px 6px;
	text-align: left;
	vertical-align: top;
}

blockquote,
q {
	quotes: none;
}

blockquote::after,
blockquote::before,
q::after,
q::before {
	content: "";
	content: none;
}

address {
	font-style: normal;
}

b,
strong {
	font-weight: 700;
}

form {
	margin: 0;
	padding: 0;
}

label {
	display: inline-block;
}

a,
area,
button,
input,
label,
select,
summary,
textarea,
[tabindex] {
	touch-action: manipulation;
}

input,
button,
select,
optgroup,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	margin: 0;
}

button,
select {
	text-transform: none;
}

select {
	cursor: pointer;
}

textarea {
	-ms-overflow-style: scrollbar;
	overflow: auto;
	resize: vertical;
}

dialog {
	background-color: inherit;
	border: solid;
	color: inherit;
	display: block;
	height: -webkit-fit-content;
	height: -moz-fit-content;
	height: fit-content;
	left: 0;
	margin: auto;
	padding: 1em;
	position: absolute;
	right: 0;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
}

dialog:not([is-open]) {
	display: none;
}

summary {
	cursor: pointer;
	display: list-item;
}

/* Remove all animations and transitions for people that prefer not to see them */

.l-header {
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 9998;
}

.l-inner {
	height: inherit;
	margin: 0 auto;
	max-width: 33.75rem;
	padding-left: 20px;
	padding-right: 20px;
	width: 100%;
}

.c-hamburger {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-color: transparent;
	border: none;
	cursor: pointer;
	display: inline-block;
	height: 25px;
	outline: none;
	text-decoration: none;
	transition: all .3s ease-in-out;
	width: 25px;
}

.c-hamburger__line {
	background-color: #333;
	bottom: 0;
	height: 2px;
	left: 0;
	margin: auto;
	position: absolute;
	right: 0;
	top: 0;
	transition: inherit;
	width: 18px;
}

.c-hamburger__line::before,
.c-hamburger__line::after {
	background-color: inherit;
	content: '';
	display: block;
	height: 100%;
	position: absolute;
	transition: inherit;
	width: 100%;
}

.c-hamburger__line::before {
	top: -5px;
}

.c-hamburger__line::after {
	top: 5px;
}

.c-hamburger[aria-expanded="true"] .c-hamburger__line {
	background-color: transparent;
}

.c-hamburger[aria-expanded="true"] .c-hamburger__line::before,
.c-hamburger[aria-expanded="true"] .c-hamburger__line::after {
	background-color: #fff;
	top: 0;
}

.c-hamburger[aria-expanded="true"] .c-hamburger__line::before {
	transform: rotate(45deg);
}

.c-hamburger[aria-expanded="true"] .c-hamburger__line::after {
	transform: rotate(-45deg);
}

.c-section-title {
	font-size: 2.25rem;
	font-weight: 700;
}

.p-drawer-menu {
	background-color: #000;
	bottom: 0;
	color: #fff;
	height: 100vh;
	max-width: 32.5rem;
	overflow-y: scroll;
	position: fixed;
	right: 0;
	top: 0;
	transform: translateX(520px);
	transition: 0.3s;
	width: 100%;
	z-index: 4;
}

.is-drawerActive .p-drawer-menu {
	transform: translateX(0px);
	transition: 0.3s;
}

.p-drawer-menu__item a {
	display: inline-block;
	height: 100%;
	width: 100%;
}

.p-footer__top {
	background-color: #1B224C;
	color: #fff;
	padding: 2.8125rem 0 4.125rem;
}

.p-footer__body {
	align-items: flex-start;
	display: flex;
}

.p-footer__items {
	display: flex;
}

.p-footer__item:not(:first-child) {
	border-left: 1px solid #fff;
}

.p-footer__item a {
	display: inline-block;
	font-size: 1rem;
	font-weight: 700;
	padding: 0.3125rem 1.3125rem;
}

.p-footer__info {
	margin-left: auto;
}

.p-footer__logo {
	width: 12.3125rem;
}

.p-footer__logo img {
	height: 100%;
	width: 100%;
}

.p-footer__open {
	align-items: flex-end;
	display: flex;
	flex-direction: column;
}

.p-footer__tel {
	display: inline-block;
	font-size: 1rem;
	font-weight: 700;
	line-height: 1;
	margin-left: auto;
	margin-top: 2.5rem;
	position: relative;
}

.p-footer__tel a {
	display: inline-block;
}

.p-footer__time {
	font-size: 0.75rem;
	line-height: 1;
	margin-top: 0.8125rem;
	text-align: right;
}

.p-footer__tel a::before {
	background-image: url(../img/tel-white.svg);
	background-position: top;
	background-repeat: no-repeat;
	background-size: contain;
	content: "";
	display: block;
	height: 0.875rem;
	left: -0.9375rem;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 0.625rem;
}

.p-footer__copy {
	align-items: center;
	background-color: #fff;
	color: #1B224C;
	display: flex;
	font-size: 0.75rem;
	font-weight: 700;
	height: 2.25rem;
	justify-content: right;
	line-height: 1;
}

.p-header-menu {
	display: none;
	height: 100%;
}

.p-header-menu__items {
	align-items: center;
	display: flex;
	height: inherit;
}

.p-header-menu__item {
	font-size: 1rem;
	font-weight: 700;
	height: inherit;
}

.p-header-menu__item a {
	align-items: center;
	display: flex;
	height: 100%;
	justify-content: center;
	padding: 0 0.875rem;
	position: relative;
	text-decoration: none;
	width: 100%;
}

.p-header-right {
	align-items: center;
	display: flex;
	height: 100%;
}

.p-header-right__open {
	align-items: flex-end;
	display: flex;
	flex-direction: column;
	height: inherit;
	justify-content: flex-end;
}

.p-header-right__time {
	font-size: 0.75rem;
}

.p-header-right__tel {
	font-size: 1rem;
	font-weight: 700;
	position: relative;
}

.p-header-right__tel::before {
	background-image: url(../img/tel.svg);
	background-position: top;
	background-repeat: no-repeat;
	background-size: contain;
	content: "";
	display: block;
	height: 0.875rem;
	left: -0.9375rem;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 0.625rem;
}

.p-header-right__btn {
	background-color: #F5A623;
	border-radius: 0.3125rem;
	font-size: 0.875rem;
	height: 3.125rem;
	margin-left: 1.4375rem;
	width: 8.875rem;
}

.p-header-right__btn a {
	align-items: center;
	color: #fff;
	display: flex;
	height: 100%;
	justify-content: center;
	width: 100%;
}

.p-header-right__btn.p-header-right__btn--blue {
	background-color: #1B224C;
	margin-left: 0.625rem;
	width: 8.5625rem;
}

.p-header {
	background-color: #fff;
	height: 5rem;
}

.p-header__inner {
	height: inherit;
	padding: 0 1.25rem;
}

.p-header__logo {
	align-items: center;
	display: flex;
	height: inherit;
}

.p-header__logo a {
	display: inline-block;
	height: 100%;
	width: 100%;
}

.p-header__logo img {
	align-items: center;
	display: flex;
	height: 100%;
	width: 100%;
}

.p-header__drawer {
	position: absolute;
	right: 1.25rem;
	top: 0.9375rem;
	z-index: 5;
}

.p-header__overlay {
	background-color: #000;
	bottom: 0;
	color: #fff;
	height: 100vh;
	opacity: 0;
	overflow: hidden;
	position: fixed;
	right: 0;
	top: 0;
	visibility: hidden;
	width: 100vw;
	z-index: 3;
}

.is-drawerActive .p-header__overlay {
	opacity: 0.8;
	transition: 0.3s;
	visibility: visible;
}

.p-header__pc-menu {
	height: inherit;
	margin-left: 1.625rem;
}

.p-header__right {
	height: inherit;
	margin-left: auto;
}

.p-message {
	background-color: #1B224C;
	color: #fff;
	padding: 3.9375rem 0 3.375rem;
	text-align: center;
}

.p-message__title {
	font-size: 2.25rem;
	font-weight: 700;
}

.p-message__items {
	display: flex;
	justify-content: center;
	margin-top: 4.0625rem;
}

.p-message__item {
	font-size: 1.125rem;
	line-height: 2.16667;
}

.p-message__item:nth-child(2) {
	margin-left: 3.5625rem;
}

.p-message__item:nth-child(3) {
	margin-left: 1.875rem;
}

.p-massage__main {
	background-color: #fff;
	color: #1B224C;
	margin-top: 5.1875rem;
	padding: 2rem 0 2.25rem;
	position: relative;
	text-align: center;
}

.p-massage__main::before {
	border: 5px solid #1B224C;
	content: "";
	display: block;
	height: 90%;
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 96%;
}

.p-message__main-title {
	font-size: 2.25rem;
	font-weight: 700;
}

.p-message__main-title span {
	display: inline-block;
	position: relative;
	z-index: 2;
}

.p-message__main-title span::before {
	background-color: #F5A623;
	bottom: 0.75rem;
	content: "";
	display: block;
	height: 0.5625rem;
	left: 0;
	position: absolute;
	width: 100%;
	z-index: -1;
}

.p-message__main-text {
	font-size: 1.125rem;
	margin-top: 1.5625rem;
}

.p-mv {
	background: url(../img/fv.jpg) no-repeat center/cover;
}

.p-mv__top {
	color: #fff;
	padding: 7.25rem 0 5.375rem;
	text-align: center;
}

.p-mv__title {
	font-size: 3rem;
	font-weight: 700;
}

.p-mv__sub-title {
	font-size: 1.125rem;
	line-height: 1.72222;
	margin-top: 1.5625rem;
}

.p-mv__btn {
	background-color: #F5A623;
	border-radius: 31px;
	font-size: 1rem;
	font-weight: 700;
	height: 3.75rem;
	margin: 3.1875rem auto 0;
	max-width: 16.25rem;
	width: 100%;
}

.p-mv__btn a {
	align-items: center;
	display: flex;
	height: 100%;
	justify-content: center;
	width: 100%;
}

.p-mv__to-contact {
	font-size: 1rem;
	margin-top: 1.375rem;
	text-decoration: underline;
}

.p-strong {
	padding: 3.6875rem 0 2.4375rem;
}

.p-strong__title {
	text-align: center;
}

.p-strong__items {
	margin-top: 3.6875rem;
}

.p-strong__item + .p-strong__item {
	margin-top: 3.75rem;
}

.p-strong__category {
	background-color: #F5A623;
	color: #fff;
	display: inline-block;
	font-size: 0.75rem;
	padding: 0.3125rem 1.5625rem;
}

.p-strong__item-title {
	font-size: 1.625rem;
	line-height: 1.5;
	margin-top: 2.1875rem;
}

.p-strong__text {
	font-size: 1rem;
	line-height: 1.6875;
	margin-top: 2.4375rem;
}

.p-strong__img {
	position: relative;
	width: 100%;
}

.p-strong__img::before {
	content: "";
	display: block;
	padding-top: 68.57143%;
}

.p-strong__img img {
	-o-object-fit: cover;
	-o-object-position: center;
	height: 100%;
	left: 50%;
	object-fit: cover;
	object-position: center;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
}

.p-strong__content {
	background-image: url(../img/price-1.jpg);
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
	color: #fff;
	margin-top: 5.8125rem;
	padding: 3.8125rem 0 3.3125rem;
	text-align: center;
}

.p-strong__content-text {
	font-size: 1.625rem;
	font-weight: 700;
}

.p-strong__btn {
	border: 1px solid #fff;
	border-radius: 30px;
	height: 3.125rem;
	margin: 1.5625rem auto 0;
	max-width: 12.5rem;
	width: 100%;
}

.p-strong__btn a {
	align-items: center;
	display: flex;
	height: 100%;
	justify-content: center;
	width: 100%;
}

.p-test {
	color: red;
	font-size: 1.25rem;
}

@media (prefers-reduced-motion: reduce) {

html:focus-within {
	scroll-behavior: auto;
}

*,
*::before,
*::after {
	-webkit-animation-duration: 0.01ms !important;
	-webkit-animation-iteration-count: 1 !important;
	animation-duration: 0.01ms !important;
	animation-iteration-count: 1 !important;
	scroll-behavior: auto !important;
	transition-duration: 0.01ms !important;
}

}

@media screen and (min-width: 375px) {

html {
	font-size: 16px;
}

.u-hidden-sp {
	display: none;
}

}

@media screen and (min-width: 768px) {

html {
	font-size: 1.77778vw;
}

.l-inner {
	max-width: 950px;
	padding-left: 25px;
	padding-right: 25px;
}

.c-hamburger {
	display: none;
}

.p-header-menu {
	align-items: center;
	display: block;
	display: flex;
}

.p-header__inner {
	align-items: center;
	display: flex;
	padding-left: 1.5625rem;
	padding-right: 1.5625rem;
}

.p-header__logo {
	width: 8.5rem;
}

.p-strong__item {
	display: flex;
	justify-content: space-between;
}

.p-strong__item:nth-child(even) {
	flex-direction: row-reverse;
}

.p-strong__text-box {
	flex: 0 1 31.25rem;
}

.p-strong__img {
	flex: 0 1 21.875rem;
}

.p-test {
	color: green;
	font-size: 3.125rem;
}

}

@media (min-width: 900px) {

html {
	font-size: 16px;
}

}

@media screen and (min-width: 900px) {

.p-test {
	color: blue;
}

.u-hidden-pc {
	display: none;
}

}

@media screen and (min-width: 1280px) {

.p-test {
	color: brown;
}

}

