.p-contact-button__submit {
	-webkit-appearance: none;
	background-color: $text-color;
	background-image: none;
	border: none;
	border-radius: rem(5);
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-size: rem(14);
  font-weight: 700;
	margin: 0;
	padding: rem(20) rem(66);
	text-decoration: none;

}

.p-contact-button__submit:hover,
.p-contact-button__submit:focus {
	outline: none;
}

.p-contact-button__submit::-moz-foucus-inner {
	border: none;
	padding: 0;
}
