
.p-footer__top {
  background-color: $text-color;
  color: $white;
  padding: rem(41) 0 rem(69);
  
}

.p-footer__inner {
  width: 100%;
  max-width: rem(985);
  padding-left: rem(25);
  padding-right: rem(25);
  margin-left: auto;
  margin-right: auto;
}

.p-footer__body {

  @include mq(tab) {
    display: flex;
    align-items: flex-start;
    
  }

}

.p-footer__items {
 display: flex;
 flex-wrap: wrap;
}

.p-footer__item {
  width: 50%;  
  text-align: center;

  @include mq(tab) {
    width: initial;
  }
}

.p-footer__item:nth-child(1){
  border-bottom: 1px solid $white;

  @include mq(tab) {
    border: none;
  }
}
.p-footer__item:nth-child(2){
  border-left: 1px solid $white;
  border-bottom: 1px solid $white;

  @include mq(tab) {
    border: none;
  }
}

.p-footer__item:nth-child(4){
  border-left: 1px solid $white;
 

  @include mq(tab) {
    border: none;
  }

}

.p-footer__item:not(:first-child) {

  @include mq(tab) {
    border-left: 1px solid $white;
    
  }
}

.p-footer__item a {
  display: inline-block;
  padding: rem(5) rem(23);
  font-size: rem(16);
  font-weight: 700;

}

.p-footer__info {
  margin-left: auto;
  display: flex;
  margin-top: rem(20);

  @include mq(tab) {
    display: block;
    margin-top: 0;
  }
}

.p-footer__logo{
 width: rem(100);
 margin-top: rem(-4);
 
 @include mq(tab) {
   width: rem(197);
   
 }
}

.p-footer__logo img {
  width: 100%;
  height: 100%;

}

.p-footer__open {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.p-footer__tel{
  font-size: rem(14);
  font-weight: 700;
  position: relative;
  margin-left: auto;
  display: inline-block;
  margin-top: rem(26);
  line-height: 1;
  
  @include mq(tab) {
    font-size: rem(14);
    
    @include mq(tab) {
      font-size: rem(16);
      
    }
    
  }
}



.p-footer__tel a {
  display: inline-block;
  
}

.p-footer__time {
  margin-top: rem(13);
  font-size: rem(12);
  text-align: right;
  line-height: 1;
}


.p-footer__tel a::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: rem(-15);
  width: rem(10);
  height: rem(14);
  background-image: url(../img/tel-white.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;

}

.p-footer__copy {
  height: rem(36);
  background-color: $white;
  display: flex;
  align-items: center;
  justify-content: right;
  font-size: rem(12);
  font-weight: 700;
  line-height: 1;
  color: $text-color;

}
