.p-header {
  height: rem(50);
  background-color: $white;

@include mq(tab) {
  height: rem(80);
}

  @include mq(lg) {
    height: rem(80);
    
  }
 
}
 
 .p-header__inner {
   padding: 0 rem(10) 0 rem(15);
   height: inherit;
 
   @include mq(tab) {
     display: flex;
     align-items: center;
   }
 
 }
 
 .p-header__logo {
   height: inherit;
   display: flex;
   align-items: center;
   width: rem(100);
   
  @include mq(tab) {
    width: rem(136);
  }

   @include mq(lg) {
     width: rem(136);
     
   }
 
 }

 .p-header__logo a {
   display: inline-block;
   width: 100%;
   height: 100%;
 }
 
 .p-header__logo img {
   display: flex;
   align-items: center;
   width: 100%;
   height: 100%;
 }
 
 .p-header__drawer {
   position: absolute;
   top: rem(12);
   right: rem(20);
   z-index: 5;

   @include mq(tab) {
    top: rem(24);
    right: rem(35);
   }
 
 
 }
 
 
 .p-header__overlay {
  position: fixed;
  z-index: 3;
  width: 100vw;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  height: 100vh;
  background-color: #000;
  color: #fff;
  visibility: hidden;
  opacity: 0;
}

.is-drawerActive {
  .p-header__overlay {
    visibility: visible;
    opacity: 0.8;
    transition: 0.3s;
  }
}
 
 .p-header__pc-menu {
   margin-left: rem(13);
   height: inherit;
 }

 .p-header__right {
 margin-left: auto;
 height: inherit;
 }