.p-mv {
  background: url(../img/fv.jpg) no-repeat center 37%  / cover; 
  animation-name: fadeIn;/*1で解説*/
  animation-fill-mode:forwards;/*開始と終了の状態*/
  animation-duration:1.0s;/*アニメーションの長さ*/
  animation-timing-function:linear;/*アニメーションの進行具合*/
  animation-direction:normal;/*アニメーションの向き*/
  opacity: 0;
}


.p-mv__top{
  padding: rem(60) 0 rem(50);
  text-align: center;
  color: $white;
  
  @include mq(tab) {
    padding: rem(102) 0 rem(81);
    
  }
}

.p-mv__title {
 font-size: rem(30);
 font-weight: 700;
 
 @include mq(tab) {
   font-size: rem(48);
   
 }
 
}

.p-mv__sub-title{
 font-size: rem(16);
 line-height: (31 / 18);
 margin-top: rem(7);
 
 @include mq(tab) {
  font-size: rem(18);
  
}
}

.p-mv__btn{
 font-size: rem(14);
 font-weight: 700;
 width: 100%;
 max-width: rem(200);
 height: rem(50);
 margin: rem(30) auto 0;
 border-radius: 31px;
 background-color: $ac-color;
 transition: .3s;

 animation-name: bururi;/*1で解説*/
 animation-duration:1.0s;/*アニメーションの長さ*/
 animation-iteration-count:infinite;/*動きのループ*/
 
 @include mq(tab) {
   margin: rem(45) auto 0;
   font-size: rem(16);
   max-width: rem(260);
   height: rem(60);
   
 }
}

.p-mv__btn:hover {
  background-color: $text-color;
}

.p-mv__btn a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.p-mv__to-contact {
 margin-top: rem(17);
 font-size: rem(12);
 text-decoration: underline;
 
 @include mq(tab) {
   font-size: rem(16);
   
 }
}