.p-message {
  background-color: $text-color;
  color: $white;
  padding: rem(30) 0 rem(30);
  text-align: center;

 
  
  @include mq(tab) {
    padding: rem(54) 0 rem(54);
    
  }
}

.p-message__title {
  font-size: rem(26);
  font-weight: 700;

  animation-name: fadeIn;/*1で解説*/
  animation-fill-mode:forwards;/*開始と終了の状態*/
  animation-duration:2.0s;/*アニメーションの長さ*/
  animation-timing-function:linear;/*アニメーションの進行具合*/
  animation-direction:normal;/*アニメーションの向き*/
  opacity: 0;
  
  @include mq(tab) {
    font-size: rem(36);
    
  }

}

.p-message__items {
 margin-top: rem(20);
 
 @include mq(tab) {
   margin-top: rem(40);
   margin-left: rem(-28);
   display: flex;
   justify-content: center;
   
 }
}

.p-message__item {
  font-size: rem(14);
  line-height: (39 / 18);
  
  
  @include mq(tab) {
    font-size: rem(18);
    
  }

}

.p-message__item:nth-child(2) {
  margin-top: rem(20);
  @include mq(tab) {
    margin-left: rem(57);
    margin-top: initial;
    
  }
}
.p-message__item:nth-child(3) {
  margin-top: rem(20);
  @include mq(tab) {
    margin-left: rem(30);
    margin-top: initial;
    
  }

}




.p-massage__main{
 margin-top: rem(40);
 background-color: $white;
 position: relative;
 padding: rem(16) 0 rem(30);
 text-align: center;
 color: $text-color;
 
 @include mq(tab) {
   margin-top: rem(71);
   padding: rem(24) 0 rem(42);
  
}
}

.p-massage__main::before {
  content: "";
  display: block;
  width: 96%;
  height: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid $text-color;
}

.p-message__main-title {
 font-size: rem(20);
 font-weight: 700;
 line-height: 1.41;
 opacity: 0;
 
 @include mq(tab) {
   font-size: rem(36);
   
 }
 
}

.p-message__main-title.is-animated {
  animation-name: fadeInUp;/*1で解説*/
  animation-fill-mode:forwards;/*開始と終了の状態*/
  animation-duration:0.5s;/*アニメーションの長さ*/
  animation-timing-function:linear;/*アニメーションの進行具合*/
  animation-direction:normal;/*アニメーションの向き*/
  animation-delay: 0.5s;/*アニメーションの開始を遅らせる*/
  
}

.p-message__main-title span {
  position: relative;
  display: inline-block;
  z-index: 2;
}

.p-message__main-title span::before {
   content: "";
   display: block;
   width: 100%;
   height: rem(5);
   background-color: $ac-color;
   position: absolute;
   bottom: rem(5);
   left: 0;
   z-index: -1;
   
   @include mq(tab) {
     height: rem(9);
     bottom: rem(7);
     
   }
   
}

.p-message__main-text{
  margin-top: rem(15);
  font-size: rem(14);
  
  @include mq(tab) {
    margin-top: rem(25);
    font-size: rem(18);
    
  }

}