.p-news-item {
   border-bottom:  1px solid $gray2;
   padding-top: rem(20);
  @include mq(tab) {
    display: flex;
    padding-top: initial;

  }
}

.p-news-item:first-child {
  border-top: 1px solid $gray2;
}

.p-news-item__meta {
 display: flex;
 align-items: center;
 width: 100%;

 @include mq(tab) {
   max-width: rem(85);
   
 }
}

.p-news-item__date {
 display: inline-block;
 font-size: rem(16);
width: 100%;
}


.p-news-item__body{
  margin-top: 0;
  line-height: (23.17/16);
  width: 100%;

@include mq(tab) {
  margin-top: 0;
  margin-left: rem(51);
  width: calc(100% - 85px + 51px);
  
  }
}

.p-news-item__title {
  display: inline-block;
  font-size: rem(16);
  padding: rem(20) 0;
  width: 100%;
 
}