.p-sub-price {
  margin-top: rem(58);
  padding-bottom: rem(61);

}

.p-sub-price__title1 {
 text-align: center;

}

.p-sub-price__body {
 margin-top: rem(60);

}

.p-sub-price__body-contents {

  @include mq(tab) {
    display: flex;
    margin-left: rem(-98);  
    justify-content: center;

  }
}


.p-sub-price__body-content{
  margin-left: rem(98);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: rem(280);
  height: rem(90);
  color: $white;
  background-color: $text-color;
  font-size: rem(22);
  font-weight: 700;
  position: relative;
}

.p-sub-price__body-content:nth-child(2):before {
  content: "";
  display: block;
  width: rem(18);
  height:  rem(2);
  position: absolute;
  left: rem(-49);
  top: 50%;
  transform: translateX(-50%);
  background-color:  #1B224C;

}
.p-sub-price__body-content:nth-child(2)::after {
  content: "";
  display: block;
  width: rem(2);
  height:  rem(18);
  position: absolute;
  left: rem(-50);
  top: 51%;
  transform: translateX(-50%);
  transform: translateY(-50%);
  background-color:  #1B224C;

}

.p-sub-price__body-text {
 margin-top: rem(45);
 font-size: rem(16);
 line-height: (27 / 16);
}

.p-sub-price__title2{
  margin-top: rem(90);
  text-align: center;
}

.p-sub-price__block{
  margin-top: rem(70);

}

.p-sub-price__block-items{
      display: flex;
      align-items: flex-end;
      margin-left: rem(-7);
}

.p-sub-price__block-item{
  width: calc(25% - #{rem(7)} * 4 / 4);
  border: 1px solid $text-color;
  text-align: center;
  margin-left: rem(7);
  
}

.p-sub-price__block-item:nth-child(3) {
  .p-sub-price__block-item-top {
    background-color: $ac-color;
  }
   .p-sub-price__block-price {
    color: $ac-color;
    
   }
}

.p-sub-price__block-item-top {
  font-size: rem(16);
  line-height: (35 / 16);
  width: 100%;
  padding: rem(13) 0;
  background: $text-color;
  color: $white;
  text-align: center;

}

.p-sub-price__block-item-bottom {
  padding: rem(30) 0 0;
  height: rem(472);


}

.p-sub-price__block-price {
  font-size: rem(25);
  font-weight: 700;

}

.p-sub-price__block-price-sub {
   margin-top: rem(10);
   font-size: rem(16);

}

.p-sub-price__block-text-box {

  

  @include mq(tab) {
    padding-left: rem(30);
    padding-right: rem(10);
    margin-top: rem(40);
    
  }

  @include mq(pc) {
    margin-top: rem(40);
    padding-left: rem(50);
    padding-right: rem(20);
    // padding-left: (50 / 1280) * 100vw;
    // padding-right: (20 / 1280) * 100vw;
  }
  
}

.p-sub-price__block-text {
   font-size: (16);
   position: relative;
   margin-top: rem(18);
   display: inline-block;
}

.p-sub-price__block-text::before {
  content: "";
  display: block;
  width: rem(10);
  height: rem(9);
  background: url(../img/check.svg) no-repeat center / cover;
  position: absolute;
  top: 0;
  transform: translateY(50%);
  left: rem(-21);
}



