.p-single-blog {
  padding-bottom: rem(57);

}

.p-single-blog__block {
   margin-top: rem(30);
  @include mq(tab) {
    display: flex;
    margin-top: rem(60);
  }
  
 }
 
 .p-single-blog__main-block {
  @include mq(tab) {
    flex: 0 1 rem(590);
    
  }
}

.p-single-blog__category {
  display: inline-block;
  padding: rem(9) rem(25);
  line-height: 1;
  font-size: rem(12);
  background-color: $text-color;
  color: $white;
}

 .p-single-blog__title {
  font-size: rem(22);
  margin-top: rem(15);
  font-weight: 700;
  
  @include mq(tab) {
    font-size: rem(28);
    margin-top: rem(21);
    
  }
 
 }

 .p-single-blog__info  {
   display: flex;
   margin-top: rem(10);
   
   @include mq(tab) {
     margin-top: rem(17);
     
   }

 }


 .p-single-blog__sns {
  
 }
 
 .p-single-blog__time {
   display: flex;
   justify-content: right;
   width: rem(200);

   margin-left: auto;
   font-size: rem(12);
   
   @include mq(tab) {
     font-size: rem(16);
    
   } 
 }
 
 .p-single-blog__sub-title {
  font-size: rem(20);
  margin-top: rem(25);
  font-weight: 700;
  
  @include mq(tab) {
    font-size: rem(26);
    margin-top: rem(33);
    
  }
 }
 
 .p-single-blog__sub-title:not(:first-of-type) {
   margin-top: rem(32);
   font-size: rem(18);
   padding-left: rem(14);
   position: relative;
   
   @include mq(tab) {
     margin-top: rem(45);
     font-size: rem(22);
     
   }
 }
 
 .p-single-blog__sub-title:not(:first-of-type)::before {
   content: "";
   display: block;
   width: rem(4);
   height: 100%;
   position: absolute;
   left: 0;
   top: 0;
   background-color: $text-color;
 }
 
 .p-single-blog__text {
  font-size: rem(16);
  margin-top: rem(10);
  line-height: ( 24 / 16);
  
  @include mq(tab) {
    margin-top: rem(18);
    
  }
 }
 
 .p-single-blog__text:not(:first-of-type) {
   margin-top: rem(10);
   
   @include mq(tab) {
     margin-top: rem(22);
     
   }
 }
 
 .p-single-blog__quote {
  margin-top: rem(30);
  padding: rem(21) rem(26) rem(34) rem(74);
  background-color: $gray;
  font-size: rem(16);
  line-height: (24 / 16);
  position: relative;
  
  @include mq(tab) {
    margin-top: rem(47);
    
  }
 }
 
 .p-single-blog__quote::before {
   display: block;
   content: "";
   width: rem(46);
   height: rem(45);
   background-image: url(../img/quote.png);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: top;
   position: absolute;
   left: rem(16);
   top: rem(16);
 }
 
 
 .p-single-blog__img {
   width: 100%;
   position: relative;
   margin-top: rem(14);
   
   }

   
   .p-single-blog__img::before {
     padding-top: 370 / 590 * 100%; //画像縦 / 横
     display: block;
     content: "";
   
   }
   
   .p-single-blog__img img {
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     object-fit: cover;
     object-position: center;
     width: 100%;
     height: 100%;
 
   }

   .p-single-blog__sub-img {
     margin-top: rem(29);
    position: relative;
    width: 100%;
   }
   .p-single-blog__sub-img::before {
    padding-top: 335 / 586 * 100%; //画像縦 / 横
    display: block;
    content: "";
  
  }
  
  .p-single-blog__sub-img img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;

  }



 
 .p-single-blog__lists {
  margin-top: rem(24);
  width: (250 / 375 ) * 100vw;
  margin-left: rem(36);
  
  @include mq(tab) {
    width: 100%;
    max-width: rem(558);
    
  }
 
 }
 
 .p-single-blog__list {
  font-size: rem(16);
  line-height: (24 / 16);
  position: relative;
 
 }
 
 .p-single-blog__list::before {
  content: "";
  display: block;
  width: rem(11);
  height: rem(11);
  background-color: $ac-color;
  border-radius: 50%;
  position: absolute;
  top: rem(7);
  left: rem(-32);
 
 }
 
 
 .p-single-blog__link {
 display: inline-block;
 margin-top: rem(54);
 color: $ac-color;
 text-decoration: underline;
 margin-left: rem(2);
 font-size: rem(18);
 }



 .p-single-blog__aside {
   margin-top: rem(30);

   @include mq(tab) {
     flex: 0 1 rem(269);
     margin-left: rem(36);
     margin-top: initial;  
   }
 }

 .p-single-blog__recommend {
  margin-top: rem(54);
 }