.p-sub-blog {
 padding-bottom: rem(45);
}

.p-sub-blog__title {
  text-align: center;

}

.p-sub-blog__body {
 margin-top: rem(60);
}

.p-sub-blog__items {
 margin-top: rem(-60);
}

.p-sub-blog__item {
 margin-top: rem(60);
}

.p-sub-blog__pagination {
 margin-top: rem(100);
}



